{%extends 'base.html'%}

{%block content%}
<div class="keywords-content">
      <h3>List of keywords at your disposal</h3>
      <br>
      <p>You can use these keywords to navigate through the platform and place orders</p>
      <br>
      <ul>
        <li><b>Open</b> - used to open the platform, normally used like "open Urcella"</li>
        <li><b>View</b> - used to view different pages or products, normally used like "view keywords" or "view apples" </li>
        <li><b>Select</b> - used to select a product, normally used like "select apples"</li>
        <li><b>Remove</b> - used to delete a product from the user's cart, normally used like "remove apples"</li>
        <li><b>Quantity</b> - used to set the desired quantity of a specific product, normally used like "quantity 3"</li>
        <li><b>Go Back</b> - used to go back to previous page</li>
        <li><b>Continue shopping</b> - used to go back to products page from cart page, normally used like "continue shopping"</li>
      </ul>
    </div>
{%endblock%}
